[user]
	name = AustinVillanueva
	email = avillann00@gmail.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
	editor = nvim
[credential]
	helper = store
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
