.DS_Store
Thumbs.db

*~
*.swp
*.swo
*.bak
*.tmp

*.log

__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
.env
venv/

.config/nvim/plugged/
.config/nvim/.netrwhist

.config/fish/fishd.*
.config/ranger/commands.pyc
.config/ranger/plugins/__pycache__/

